body{
    min-width: 1177px;
}
header{
    min-width: 1177px;
}
.container-fluid{
    min-width: 1177px;
    position: relative;
    display: block;
}
.container-fluid .row{
    min-width: 1177px;
    margin-bottom: 10px;
}