body{
    position: relative;
}

/*Header*/
#head{
    margin-bottom:-25px;
}
#menu{
    margin-left: 190px;
}
#smenu{
   
    width: 450px;
}
#ligneimage{
    margin-left: 270px;
    margin-bottom:-15px;
}
#bouton{
    font-size: 10px;
}
#nav{
    margin-left: 140px;
}
#navs{
    width: 480px;
}
p{
font-size: small;
}
/*acceuil*/
#image{
    position: relative;
    width: 53px;
    height: 53px;
    top: 2px;
    margin: 0;
}
img{
    border-radius: 4px 4px 0 0;
}
/*choix multiple*/
#choixmultiple{
width: 1225px;
height: 63px;
margin-left: 8px;
top: 138px;
}
#colsm{
    box-sizing: border-box;
    width: 145px;
    height: 58px;
    margin-left: 8px;
    margin-bottom: 8px;
    background: #FFFFFF;
    border: 0.3px solid #015D85;
    border-radius: 100px;
}
#colsm1{
    box-sizing: border-box;
    width: 145px;
    height: 58px;
    margin-left: 8px;
    top: 138px;
    background: #FFFFFF;
    border: 0.3px solid #015D85;
    border-radius: 100px;
}
#colsm2{
    box-sizing: border-box;
    width: 145px;
    height: 58px;
    margin-left: 8px;
    top: 138px;
    background: #FFFFFF;
    border: 0.3px solid #015D85;
    border-radius: 100px;
}
        #colsm3{
            box-sizing: border-box;
            width: 145px;
            height: 58px;
            margin-left: 8px;
            top: 138px;
            background: #FFFFFF;
            border: 0.3px solid #015D85;
            border-radius: 100px;
            }
            #colsm4{
                box-sizing: border-box;
                width: 145px;
                height: 58px;
                margin-left: 8px;
                top: 138px;
                background: #FFFFFF;
                border: 0.3px solid #015D85;
                border-radius: 100px;
                }
                #colsm5{
                    box-sizing: border-box;
                    width: 145px;
                    height: 58px;
                    margin-left: 8px;
                    top: 138px;
                    background: #FFFFFF;
                    border: 0.3px solid #015D85;
                    border-radius: 100px;
                    }
                    #colsm6{
                        box-sizing: border-box;
                        width: 145px;
                        height: 58px;
                        margin-left: 8px;
                        top: 138px;
                        background: #FFFFFF;
                        border: 0.3px solid #015D85;
                        border-radius: 100px;
                        }
                        #colsm7{
box-sizing: border-box;
width: 145px;
height: 58px;
margin-left: 8px;
top: 138px;

background: #FFFFFF;
border: 0.3px solid #015D85;
border-radius: 100px;
                            }
.select:hover{
   box-shadow: 2px 2px 10px rgb(181, 175, 175);
}
/*harissa*/
header{
   font-family: Georgia, serif;

}
*{
       margin: 0;
    padding: 0;
    box-sizing: content-box;
}
 .imj1{
    width: 120px;
    height: 18px;
    margin-top: 30px;
    margin-left: 40px;
    float: left;
 }
 .bloc2{
    width: 655px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(209, 205, 205);
    box-shadow: 1px 1px 2px rgb(221, 215, 215);
    float: left;
    margin-left: 30px;
    /* margin-right: 500px; */
    margin-top: 15px;

 }
 .bloc2:hover{
    width: 655px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(209, 205, 205);
    box-shadow: 2px 2px 3px rgb(221, 215, 215);
    float: left;
    margin-left: 30px;
    /* margin-right: 500px; */
    margin-top: 15px;
    background-image: url('/Users/harissa/Desktop/Brief1/image/Q5BJPjebyYN5QiqznkcMQmLrF9U.svg')no-repeat cover;

 }
 .para1{
   border: none;
    margin: 12px 20px;
    width: 500px;
 }
 .para1:focus{
   outline: none;;
 }
 .bloc3 img{
    float: right;
 }
 #imj2{
   position: relative;
   float: right;
  right: 15px;
  bottom: 32px;
   font-size: 20px;
   color: #27798b;
 }
 #imj3{
   position: relative;
   float: right;
  right: 35px;
  bottom: 32px;
   font-size: 20px;
   color: #27798b;
 }
 #imj4{
   position: relative;
   float: right;
  right: 55px;
  bottom: 32px;
   font-size: 20px;
   color: #27798b;
 }
 .navi1{
    float:right;
    margin-top: 20px;
    margin-right: 50px;
 }
 
.navi1 li{
    display: inline-block;
    margin-right: 15px;
 }
 .lien1{
   color: rgb(92, 88, 88);
   text-decoration: none;
    font-size: 14px;
    font-family: Roboto-regular;

 }

 .lien2{
    background-color: rgb(245, 241, 238);
    text-decoration: none;
    font-size: 14px;
    padding: 6px 18px;
    border: 1px solid rgb(209, 205, 205);
    color: rgb(92, 88, 88);
    font-family: Roboto-regular;

 }
 
 .lien2:hover{
    background-color: rgb(244, 243, 243);
    text-decoration: none;
    font-size: 14px;
    padding: 6px 18px;
    box-shadow: 0.5px 0.5px rgb(181, 175, 175);
    border: 1px solid rgb(209, 205, 205);
    color: rgb(43, 40, 40);

 }

 nav ul{
    padding-top: 80px;
    margin-left: 200px;
}
nav ul li{
    display: inline-block;
    padding-left: 20px;
}
nav ul li a{
   text-decoration: none;
    font-family: Roboto-Light;
    font-size: 11px;
    color: black;
    padding-top: 30px;
    margin-left:5px;
}
nav ul li a:hover{
    text-decoration: none;
    font-family: Roboto-Light;
    font-size: 11px;
    color: black;
}
.lien4{
    font-weight: bold;
}
#lien3{
   font-size: 25px;
   color: rgb(128, 128, 128);
   position: relative;
   float: right;
   right: -3px;
   top: 7px;
}


.bloc5{
   float: right;
   margin-top: -75px;
   margin-right: 50px;
}
.lien5{
    font-weight: bold;
    color: black;
    font-size: 12px;
    margin-left: 15px;
    font-family: Roboto-regular;
    text-decoration: none;

 }
 .lien5:hover{
   font-family: Roboto-regular;
   font-weight: bold;
   color: black;
   font-size: 12px;
   text-decoration: none;
}
 .text1{
    font-size: 12px;
    color:  rgb(94, 94, 94);
    font-family: Roboto-regular;
 }
 .bloc5 .btn1{
    width: 110px;
    height: 35px;
    background-color: transparent;
    border: none;
 }
 .bloc5 .btn1:hover{
    width: 110px;
    height: 35px;
    background-color: rgb(243, 243, 243);
    border: none;
    text-decoration: none;
 }
 .text2{
    font-size: 12px;
    color:  rgb(94, 94, 94);
    font-family: Roboto-regular;
    margin-left: 10px;
 }
 .bloc5 .btn2{
    width: 130px;
    height: 35px;
    background-color: transparent;
    border: none;
 }
 .bloc5 .btn2:hover{
    width: 130px;
    height: 35px;
    background-color: rgb(243, 243, 243);
    border: none;
 }
 .lien6{
    font-weight: bold;
    color: black;
    font-size: 12px;
    margin-left: 15px;
    font-family: Roboto-regular;
    text-decoration: none;

 }
 .lien6:hover{
    font-family: Roboto-regular;
    font-weight: bold;
    color: black;
    font-size: 12px;
    text-decoration: none;
 }
 .bloc5 li{
   display: inline-block;
   margin-left: 10px;

 }
 .bloc5 li a{
   text-decoration: none;
   font-size: 12px;
   color:  rgb(94, 94, 94);
   font-family: Roboto-regular;
   margin-left: 10px;
 }

 .bloc6{
   margin-top: -32px;
    border-bottom: 0.1px solid rgb(239, 239, 239);
 }
 .trait2{
    width: 50px;
    border-bottom: 3px solid #00809d;
    padding-top: 15px;
 }
 .trait1{
    width: 45px;
    padding-top: 15px;
 }

 .trait1:hover{
    width: 45px;
    padding-top: 15px;
    border-bottom: 3px solid rgb(201, 198, 198);
 }

 .trait3{
    width: 50px;
    padding-top: 15px;

 }

 .trait3:hover{
    width: 50px;
    padding-top: 15px;
    border-bottom: 3px solid rgb(201, 198, 198);
 }

  .trait4{
    width: 50px;
    padding-top: 15px;
 }

 .trait4:hover{
    width: 50px;
    padding-top: 15px;
    border-bottom: 3px solid rgb(201, 198, 198);
 }

 .trait5{
    width: 65px;
    padding-top: 15px;
 }

 .trait5:hover{
    width: 65px;
    padding-top: 15px;
    border-bottom: 3px solid rgb(201, 198, 198);
 }


#premier{
   margin-top: 20px;
   width: 100%;
   height: 70px;
   margin-bottom: 2px;   
 }

 .car1{
   width: 140px;
   height: 50px;
   border-radius: 50px;
   margin: 0 5px;
   border: 1px solid #00809d;
   padding-top: 1px;
 }
.car1 .circle{
   border-radius: 100px;
   padding-left: 5px; 
}
.car1 a .titr1{
   position: absolute;
   margin-bottom: 10px;
   margin-left: 5px;
   color:  rgb(94, 94, 94);
}
.car1 a .gra1{
   margin-left: 5px;
   position: absolute;
   margin-top: 20px;
   color:  rgb(75, 75, 75);
}

.car2{
   width: 140px;
   height: 50px;
   margin: 0 5px;
   border-radius: 50px;
   border: 1px solid #00809d;
   /* margin-left: 15px; */
 }
.car2 .circle{
   border-radius: 50%;
   padding-left: 5px;
   padding-top: 5px; 
}
.car2 a .gra2{
   margin-left: 10px;
   position: absolute;
   color:  rgb(75, 75, 75);
}
.car2 a .titr2{
   margin-top: 20px;
   position: absolute;
   margin-left: 10px;
   color:  rgb(94, 94, 94);
}

.car3{
   width: 140px;
   height: 50px;
   margin: 0 5px;
   border-radius: 50px;
   border: 1px solid #00809d;
   /* margin-left: 15px; */
 }
.car3 .circle{
   border-radius: 50%;
   padding-left: 5px;
   padding-top: 5px;  
}
.car3 a .titr3{
   position: absolute;
   margin-bottom: 10px;
   margin-left: 5px;
   color:  rgb(94, 94, 94);
}
.car3 a .gra3{
   margin-left: 5px;
   position: absolute;
   margin-top: 20px;
   color:  rgb(75, 75, 75);
}


.car4{
   width: 140px;
   height: 50px;
   margin: 0 5px;
   border-radius: 50px;
   border: 1px solid #00809d;
   /* margin-left: 15px; */
 }
.car4 .circle{
   border-radius: 50%;
   padding-left: 5px;
   padding-top: 5px;  
}
.car4 a .titr4{
   position: absolute;
   margin-bottom: 10px;
   margin-left: 5px;
   color:  rgb(94, 94, 94);
}
.car4 a .gra4{
   margin-left: 5px;
   position: absolute;
   margin-top: 20px;
   color:  rgb(75, 75, 75);
}

.car5{
   width: 140px;
   height: 50px;
   border-radius: 50px;
   margin: 0 5px;
   border: 1px solid #00809d;
   /* margin-left: 15px; */
 }
.car5 .circle{
   border-radius: 50%;
   padding-left: 5px;
   padding-top: 5px;  
}
.car5 a .titr5{
   position: absolute;
   margin-bottom: 10px;
   margin-left: 5px;
   color:  rgb(94, 94, 94);
}
.car5 a .gra5{
   margin-left: 5px;
   position: absolute;
   margin-top: 20px;
   color:  rgb(75, 75, 75);
}

 .car6{
   width: 140px;
   height: 50px;
   border-radius: 50px;
   margin: 0 5px;
   border: 1px solid #00809d;
   /* margin-left: 15px; */
} 
.car6 .circle{
   border-radius: 50%;
   padding-left: 5px;
   padding-top: 5px;  
}
.car6 a .titr6{
   position: absolute;
   margin-bottom: 10px;
   margin-left: 5px;
   color:  rgb(94, 94, 94);
}
.car6 a .gra6{
   margin-left: 5px;
   position: absolute;
   margin-top: 20px;
   color:  rgb(75, 75, 75);
}

 .car7{
   width: 140px;
   height: 50px;
   margin: 0 5px;
   border-radius: 50px;
   border: 1px solid #00809d;
   /* margin-left: 15px; */
 }
.car7 .circle{
   border-radius: 50%;
   padding-left: 5px;
   padding-top: 5px;  
}
.car7 a .titr7{
   position: absolute;
   margin-bottom: 10px;
   margin-left: 5px;
   color:  rgb(94, 94, 94);
}
.car7 a .gra7{
   margin-left: 5px;
   position: absolute;
   margin-top: 20px;
   color:  rgb(75, 75, 75);
}

.car8{
   width: 140px;
   height: 50px;
   margin: 0 5px;
   border-radius: 50px;
   border: 1px solid #00809d; 
   /* margin-left: 15px; */
  }
.car8 .circle{
   border-radius: 50%;
   padding-left: 5px;
   padding-top: 5px;  
}
.car8 a .titr8{
   position: absolute;
   margin-bottom: 10px;
   margin-left: 5px;
   color:  rgb(94, 94, 94);
}
.car8 a .gra8{
   margin-left: 5px;
   position: absolute;
   margin-top: 20px;
   color:  rgb(75, 75, 75);
}
nav li{
   display: inline-block;
}

#cadre{
    margin: 6px;
    width: 199px;
    padding: 0;
}
.select{
   text-decoration: none;
   color: black;
}
.select:hover{
   color: black;
   text-decoration: underline;

}
.select .card-text:hover{
font-size: 13px;
}
i:hover{
cursor: pointer;
}
/*1*/
.image {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/1.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image:before {
   content: '';
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, rgb(118, 118, 118) 200%);
 }
 .image:hover:before {
   height: 40%;
 }
.image h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image:hover h6{
   opacity: 1;
}
h6{
   font-size: 10px;
}
 /*2*/
 .image1 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/2.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image1:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image1:hover:before {
   height: 40%;
 }
 .image1 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image1:hover h6{
   opacity: 1;
}
 /*3*/
 .image2 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/3.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image2:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image2:hover:before {
   height: 40%;
 }
 .image2 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image2:hover h6{
   opacity: 1;
}
/*4*/
.image3 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/4.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image3:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image3:hover:before {
   height: 40%;
 }
 .image3 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image3:hover h6{
   opacity: 1;
}
 /*5*/
 .image4 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/5.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image4:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image4:hover:before {
   height: 40%;
 }
 .image4 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image4:hover h6{
   opacity: 1;
}
 /*6*/
 .image5 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/l1.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image5:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image5:hover:before {
   height: 40%;
 }
 .image5 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image5:hover h6{
   opacity: 1;
}
 /*7*/
 .image6 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/7.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image6:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image6:hover:before {
   height: 40%;
 }
 .image6 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image6:hover h6{
   opacity: 1;
}
 /*8*/
 .image7 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/8.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image7:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image7:hover:before {
   height: 40%;
 }
 .image7 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image7:hover h6{
   opacity: 1;
}
 /*9*/
 .image8 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/9.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image8:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image8:hover:before {
   height: 40%;
 }
 .image8 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image8:hover h6{
   opacity: 1;
}
 /*10*/
 .image9 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/10.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image9:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image9:hover:before {
   height: 40%;
 }
 .image9 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image9:hover h6{
   opacity: 1;
}
 /*11*/
 .image10 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/11.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image10:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image10:hover:before {
   height: 40%;
 }
 .image10 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image10:hover h6{
   opacity: 1;
}
/*12*/
 .image11 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/12.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image11:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image11:hover:before {
   height: 40%;
 }
 .image11 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image11:hover h6{
   opacity: 1;
}
 /*13*/
 .image12 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/13.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image12:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image12:hover:before {
   height: 40%;
 }
 .image12 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image12:hover h6{
   opacity: 1;
}
 /*14*/
 .image13 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/14.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image13:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image13:hover:before {
   height: 40%;
 }
 .image13 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image13:hover h6{
   opacity: 1;
}
 /*15*/
 .image14 {
   height: 200px;
   width: 243x;
   position: relative;
   background-image: url("images/15.jpg");
   border-radius: 4px 4px 0 0;
 }
 .image14:before {
   content: '';
   display: block;
   position: absolute;
   height: 0%;
   width: 100%;
   bottom: 0;
   transition: height 0.1s ease-out;
   background: linear-gradient(to bottom, transparent 0%, black 200%);
 }
 .image14:hover:before {
   height: 40%;
 }
 .image14 h6{
   opacity: 0;
   transition: 0.5s;
   font-size: 15px;
   color: rgb(255, 255, 255);
    display: flex;
   justify-content: start;
  align-items: flex-end;
   height: 200px;
}
.image14:hover h6{
   opacity: 1;
}
 #enlarge{
   margin-left: -20px;
 }
 .navigation{
   position: absolute;
   display: inline-flex;
 }
 .nav-left{
   position: relative;
   width: 20px;
   height: 50px;
 }
 .nav-rigth{
   position: relative;
   width: 20px;
   height: 50px;
 }
/*body*/